<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <li class="folder-item selected" id="inbox"><i class="icon-folder-close"></i> Inbox</li>
            <li class="folder-item" id="later"><i class="icon-folder-close"></i> Later</li>
            <li class="folder-item" id="sent"><i class="icon-share-alt"></i> Sent</li>
            <li class="folder-item" id="trash"><i class="icon-trash"></i> Trash</li>
        </wicket:panel>
    </body>
</html>
